@import url("styles/carrousel.css");
@import url("styles/navbar.css");
@import url("styles/footer.css");
@import url("reset.css");


:root {
    --cor-primaria: #fff;
    --cor-secundaria: #447396;
    --fonte-tx: "Montserrat";
    --fonte-tt: "Krona One";
    --roxo-teste: #401F71;
}

body {
    background: whitesmoke;
    box-sizing: border-box;
}